* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #40514e;
  text-align: center;
  background-color: #fff;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  margin: 0 auto;
  position: relative;
}

h1,
h2 {
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  word-spacing: 4px;
}

h2 {
  color: #fff;
  font-weight: 350;
  font-size: 175%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}

h2:after {
  display: block;
  background-color: #cf6;
  content: " ";
  height: 2px;
  width: 10%;
  margin: auto;
}

h3 {
  font-size: 110%;
  font-weight: 350;
  margin: 1% 10%;
}

/*------------------------------------------------------------------------------------------------------------
HEADER
----------------------------------------------------------------------------------------------------------- */

.header_section {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

/*----------------------------- Main-Navi ------------------------------*/

/* LOGO */
.logo {
  display: inline-block;
  padding: 1%;
  width: 7%;
  /* margin-left: 10%; */
}

.sticky-logo {
  display: none;
}

/* Links */

.main_nav {
  list-style: none;
  width: 76%;
  float: right;
  text-align: center;
  margin: 3% 0 0 0;
}

.main_nav li {
  display: inline-block;
  word-spacing: 1px;
  margin-left: 5%;
}

.navbar_link:link,
.navbar_link:visited {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 2%;
  transition: border-bottom 0.2s, color 0.2s;
  transform: scale(1);
}

.navbar_link:hover,
.navbar_link:active {
  border-bottom: 2px solid #e67e22;
}

/* Header Heading */

._name {
  text-transform: none;
  font-size: 5.625rem;
  margin: 0;
}

._job {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  font-size: 4rem;
  margin: 0;
}

.header-heading {
  width: 76%;
  margin: 5% 2% 5% 17%;
  text-align: right;
}

/* BUTTONS */
.header-heading a,
input[type="submit"] {
  margin-top: 1%;
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.header-heading .first-btn,
input[type="submit"] {
  color: #fff;
  background-color: #47b5ff;
  border: 1px solid #47b5ff;
  margin-right: 2rem;
}

.header-heading .second-btn {
  color: #47b5ff;
  border: 1px solid #47b5ff;
}

.header-heading a:hover,
input[type="submit"]:hover {
  background-color: #47b5ff;
}

.header-heading .first-btn:hover,
input[type="submit"]:hover {
  background-color: #256d85;
  border: 1px solid #256d85;
}

.header-heading .second-btn:hover {
  color: #fff;
  border: 1px solid #47b5ff;
}

/*----------------------------- Mobile-Navi ------------------------------*/
.mobile-nav-icon {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}
/*----------------------------- sticky-Navi ------------------------------*/

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(237, 237, 237);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .navbar_link:link,
.sticky .navbar_link:visited {
  color: #000;
}

.sticky .main_nav {
  list-style: none;
  width: 76%;
  /* display: inline-block; */
  float: right;
  text-align: center;
  margin: 0.9% auto 0.5%;
}

.sticky .logo {
  display: none;
}
.sticky .sticky-logo {
  padding: 0.1%;
  width: 3%;
  display: inline-block;
  margin-right: 4%;
}

/*-------------------------------------------------------------------------------------------------------------
Project-Section
-------------------------------------------------------------------------------------------------------------*/

.work-section {
  width: 100%;
  padding: 2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/project_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.projects {
  width: 90%;
}

.project-link {
  width: 100%;
  margin-top: 1%;
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.project-name {
  color: #fff;
}
.project-description {
  color: #fff;
  text-align: left;
}
.project .project-fig {
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.projects img {
  opacity: 0.9;
  width: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.project img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/*-------------------------------------------------------------------------------------------------------------
Education-Section
-------------------------------------------------------------------------------------------------------------*/
.education-section {
  width: 100%;
  padding: 2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./img/kelly-sikkema-tk9RQCq5eQo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.educations {
  text-align: left;
  width: 100%;
}
.education {
  width: 80%;
  margin: 0;
}
.education h1,
h3,
h4 {
  color: #fff;
  margin-left: 0;
}

.edu-period h5 {
  color: #fff;
  margin-top: 10%;
}

/*-------------------------------------------------------------------------------------------------------------
Skills-Section
-------------------------------------------------------------------------------------------------------------*/

.skill-section {
  background-color: beige;
  width: 100%;
  padding: 2%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.skill-section h2,
.skill-section h1,
.skill-section h3 {
  color: #000;
}

.skill-section h2:after {
  display: block;
  background-color: #cf6;
  content: " ";
  height: 2px;
  width: 10%;
  margin: auto;
}

.skills {
  width: 100%;
}
.skill-item1 {
  text-align: left;
}
.skill-item2 {
  vertical-align: middle;
}

.skill-pic {
  margin-top: 10%;
  width: 80%;
}

.item1-list {
  list-style: none;
  text-align: left;
}
.item1-list li {
  margin-left: 1%;
  font-size: 4rem;
  display: inline-block;
}

/*-------------------------------------------------------------------------------------------------------------
Exp-Section
-------------------------------------------------------------------------------------------------------------*/

.exp-section {
  width: 100%;
  padding: 2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/EXP.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  position: relative;
}

.exp-section h1,
.exp-section h2,
.exp-section h3,
.exp-section h4,
.exp-section h5,
.exp-section p {
  color: #fff;
}

.exp-item h4 {
  margin-top: 8%;
}

.exp-c {
  text-align: left;
}

.exp-period {
  vertical-align: middle;
}

/*-------------------------------------------------------------------------------------------------------------
Hobbie and Achivement-Section
-------------------------------------------------------------------------------------------------------------*/
.hobbie-section {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/EXP.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  position: relative;
}

.hobbie-section li {
  color: #fff;
  font-size: 1.3rem;
}

.hobbies ul,
.achivements ul {
  list-style: none;
}

.achivements h1 {
  width: 100%;
  text-align: left;
}

.hobbies h1 {
  width: 100%;
  text-align: left;
  margin-left: 10%;
}

.hobbies ul {
  width: 100%;
  margin-left: 10%;
  text-align: left;
}

.achivements ul {
  width: 100%;
  text-align: left;
}

/*-------------------------------------------------------------------------------------------------------------
Form-Section
-------------------------------------------------------------------------------------------------------------*/
.form-section {
  background-color: #fff;
  width: 100%;
  padding: 2%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 75vh;
  position: relative;
}

.form-label {
  text-align: left;
}

.form-submit {
  text-align: left;
}

.form-section h2 {
  color: #000;
}

.form-section h2:after {
  display: block;
  background-color: #cf6;
  content: " ";
  height: 2px;
  width: 10%;
  margin: auto;
}

.contact-form {
  width: 50%;
  margin: 1% auto;
}

.form-checkbox {
  text-align: left;
}

/* CSS That is used by PHP to sent mails via form */
.form-message {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 3px;
  color: #333;
}

.success {
  background-color: rgba(38, 191, 68, 0.8);
  display: none;
}

.error {
  background-color: rgba(209, 46, 46, 0.8);
  display: none;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
}

/*------------------------------------------------------------------------------
 FOOTER SECTION
------------------------------------------------------------------------------*/

.footer-section {
  padding: 0 12%;
  background-color: #333;
}

.footer-section ul {
  text-align: center;
  margin: 1%;
}

.footer-nav,
.social-links {
  list-style: none;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited {
  color: #5f9df7;
  text-decoration: none;
  padding-bottom: 1px;
  transition: color 0.2s;
}

.footer-nav a:hover,
.footer-nav a:active,
.social-links a:hover,
.social-links a:active {
  color: #fff;
}

/* .social-links i{
  display: inline-block;
  color: #cf6d17;
  width: 30px;
  text-align: center;
  margin:0 5px;
  vertical-align: middle;
} */

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 5%;
}

.footer-section .copyright_text {
  color: #fff;
  text-align: center;
}

.copyright_text p {
  margin-bottom: 2%;
}
